* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #a3a3a3;
}

header {
    height: 75vh;
    background-image: url(bg-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    text-align: right;
    padding: 20px 15px 0 0;
}

li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    border: 3px black solid;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    text-align: center;
}

div {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

section {
    width: 80%;
    margin: auto;
    background-color: #FFFFFF;
    padding: 30px;
}



section p {
    margin: 15px 0 0 0;
}

main {
    width: 75vw;
    margin: auto;
    text-align: justify;
    line-height: 1.5em;
}

main h2 {
    background-color: #FFFFFF;
    border-bottom: 5px solid #868686;
    padding: 15px;
}

.title {
    font-size: 24pt;
    color: white;
    margin-top: 7em;
    text-shadow: black 3px 3px 4px;
    line-height: 100px
}

.botao {
    text-align: end;

}

.botao a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 2px black solid;
}