header {
    width: 50%;
    height: 1000px;
    background-image: url(bg-3.jpg);
    
}

nav {
    display: flex;
    flex-flow: column;
    flex-direction: row-reverse;
    
}

nav li {
    display: flex;
    flex-flow: column;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}